*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    color: #000000;
}

.page-header{
    display: flex;
    justify-content: center;
    padding: 28px 0px;
    background: #000000;

}
 .header-logo{
     display: block;

 }

 .main-banner{
    display: block;
    width: 100%;

}

.top-infocard{
    padding: 66px 0 188px;
    display: flex;
    flex-direction: column;
    align-items: center;
        
}
.top-infocard-text{
    max-width: 766px;
}
.top-infocard-title{
    text-align: center;
    font-weight: 400;
    font-size: 32px;    
    text-transform: uppercase;
}
.top-infocard-subtitle{
    text-align: center;
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
}
.top-infocard-description{
    font-size: 16px;
    line-height: 24px;
}

.top-infocard-image{
    display: block;
    margin-top: 66px;
}

.top-cards{
    display: grid;
    grid-template-columns: repeat(3,max-content);
    gap: 20px;
    justify-content: center;
    margin-bottom: 80px;
    
}
.top-card{
        
    padding: 26px 26px 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);

 }
 .top-card-image{
    display: block;
    margin-bottom: 26px;

}
.top-card-text{
   
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   max-width: 300px;
}
.middle-banners{
    background: #E0E0E0;
    padding: 0 94px;  
    display: flex;
    justify-content: center;
}
.middle-banner-image1{
    grid-area: image1;
}
.middle-banner-image2{
    grid-area: image2;
}
.middle-banner-image3{
    grid-area: image3;
}

.middle-banner-wrapper{
    position:relative;    
    top: 62px;   
    display: grid;    
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
       "image1 image2 image3"        
       ;      
    gap: 32px;  
    max-width: 1732px; 
    
}
.middle-banner-image{
    display: block;
    width: 100%;    
}
.bottom-cards{
    display: grid;
    grid-template-columns: repeat(4,max-content);
    gap: 20px;
    justify-content: center;
    margin:200px 0 138px;   
}
.bottom-card{        
    padding: 34px 32px 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
 }
 .bottom-card-image{
    display: block;
    margin-bottom: 14px;
}
.bottom-card-text{   
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   max-width: 368px;
}
.bottom-infocard{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.bottom-infocard-text{
    text-align: center;
    max-width: 550px ;
    margin-bottom: 32px;
}
.bottom-infocard-title{
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 18px;
}
.bottom-infocard-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.bottom-infocard-image-descktop{
    display: block;
    margin-bottom: 104px;
}
.bottom-infocard-image-mobile{
    display: block;
    width: 100%;
    margin-bottom: 50px;
}
.page-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:38px 0;
    background: #000000;
}
.footer-icons{
    display: flex;
    list-style: none;
    margin-bottom: 16px;
}
.footer-icon{
    margin: 0 8px;
}
.footer-description{
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #BDBDBD;

}

@media screen and (max-width: 414px){
    .main-banner-descktop{
        display: none;
    }
}
@media screen and (min-width: 415px){
    .main-banner-mobile{
        display: none;
    }
}
@media screen and (max-width: 767px){
    .bottom-infocard-image-descktop{
        display: none;
    }
}
@media screen and (min-width: 768px){
    .bottom-infocard-image-mobile{
        display: none;
    }
}

@media screen and (max-width: 768px){
   .top-infocard{
        padding: 84px 30px 80px;
    }
    .top-infocard-image{
        max-width: 240px;
    }
    .top-infocard-title{
        font-size: 20px;
    }
    .top-infocard-subtitle{
        font-size: 28px;
    }
    .top-infocard-description{
        text-align: center;
        margin-top: 20px;
    }
    .top-cards{    
        padding: 0 30px 0;
        grid-template-columns:1fr;
        gap: 24px;
    }
    .middle-banners{
        padding: 0 30px;
    }
   .middle-banner-wrapper{
       top: 32px;
       gap: 24px;
       grid-template-columns: repeat(2,1fr);
       grid-template-areas: 
       "image2 image1"
       "image3 image3" 
       ;      
    }
   .bottom-cards{    
        padding: 0 30px 0;
        grid-template-columns:1fr;
        gap: 24px;
        margin:160px 0px 80px;
    }
    .bottom-infocard-text{
         padding: 0 30px;
         margin-bottom: 104px;
    }
    .bottom-infocard-title{
        font-size: 24px;
    }
    .bottom-infocard-description{
        font-size: 16px;
    }
    .page-footer{
        padding-bottom: 26px;
    }
    .footer-description{
        max-width: 280px;
        text-align: center;
    }
}
@media screen and (min-width: 768px) and (max-width: 1439px){
    .bottom-infocard-image-descktop{
        width: 80%;
        margin:0 auto 104px;
    }
    .bottom-infocard-text{
        margin-bottom: 32px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
    .top-cards{
        grid-template-columns: repeat(2, max-content);
           
    }
    .middle-banners{
        padding: 0 60px;
    }
    .middle-banner-wrapper{
        gap: 26px;
    }
    .bottom-cards{
        grid-template-columns: repeat(2, max-content);            
    }
    .bottom-card{
        padding: 26px 26px 34px;
    }
    .bottom-card-text{   
        max-width: 300px;
     }
}
@media screen and (min-width: 1281px) and (max-width: 1779px) {
    .bottom-card-text{   
       max-width: 260px;
     }
     .bottom-card{
         padding: 26px 26px 34px;
     }

}